@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
/* font-family: 'Playfair Display', serif; */



/********************* default ***********************/
html, body {font-size: 16; font-family: 'Playfair Display', serif; color: #121212; letter-spacing: .2em;}
.wrapper {max-width: 1200px; margin: auto; padding: 3em 0; border-bottom: 1px solid #ccc;} /* about 부터 사용 */
.wrapper2 {max-width: 1200px; margin: auto; padding: 3em 1em;}
a.anchor {height: 0; line-height: 0; display: inline;}


/********************* header ***********************/
.header-wrapper {position: fixed; width: 100%; background-color: #f9f9f9; z-index: 10; box-shadow: 0 0 6px rgb(77, 75, 75);}
.header-wrapper > .title {float: left; padding: 1.25em;}
.header-wrapper > .navi-wrap {float: right;}
.header-wrapper > .navi-wrap > .navi {float: left;}
.header-wrapper > .navi-wrap > .navi a {padding: 1.25em 1em;}
.header-wrapper > .navi-wrap > .navi:hover {background-color: #eee;}


/********************* main ***********************/
.main-wrapper {max-width: 1600px; margin: auto;}
.main-wrapper > .main-wrap {position: relative;}
.main-wrapper > .main-wrap > img {}
.main-wrapper > .main-wrap > .ment {position: absolute; font-size: 2.5em; color: #444; left: .5em; bottom: .5em;}


/********************* about ***********************/
.about-wrapper {margin: 2em 0;}
.about-wrapper > .wrapper {border-bottom: 1px solid #ccc;}
.about-wrapper > .wrapper > .img-wrap {float: left; width: 48%; margin: 0 4% 4% 0; padding: 1em;}
.about-wrapper > .wrapper > .img-wrap > .about-img {width: 100%; opacity: .7;}

.about-wrapper > .wrapper > .cont-wrap {float: right; width: 48%; text-align: center; margin-top: 3em; padding: 1em;}
.about-wrapper > .wrapper > .cont-wrap > h2 {font-size: 2em;}
.about-wrapper > .wrapper > .cont-wrap > h3 {font-size: 1em; padding: 2em 0;}
.about-wrapper > .wrapper > .cont-wrap > p { text-align: justify; letter-spacing: 0; line-height: 1.5; margin-bottom: 1em;}
.about-wrapper > .wrapper > .cont-wrap > p:nth-child(4) {color: #555;}
.about-wrapper > .wrapper > .cont-wrap > p > span {background-color: #eee; padding: .2em .2em;}


/********************* menu ***********************/
.menu-wrapper {}
.menu-wrapper > .wrapper > .menu-wrap {float: left; width: 50%; padding: 1em; margin-top: 3em;}
.menu-wrapper > .wrapper > .menu-wrap > .menu-title {font-size: 2em; text-align: center; margin-bottom: 1.5em;}
.menu-wrapper > .wrapper > .menu-wrap > .table > .menu {text-align: left;}
.menu-wrapper > .wrapper > .menu-wrap > .table > .menu > h4 {font-size: 1.25em; font-weight: bold; line-height: 3;}
.menu-wrapper > .wrapper > .menu-wrap > .table > .menu > p {font-size: 1em; margin-bottom: 2em; letter-spacing: .5px;}

.menu-wrapper > .wrapper > .img-wrap {float: right; width: 50%; padding: 1em;}
.menu-wrapper > .wrapper > .img-wrap > .menu-img {width: 100%; opacity: .7;}


/********************* contact ***********************/
.contact-wrapper {}
.contact-wrapper > .wrapper2 {}
.contact-wrapper > .wrapper2 > .cont-wrap {width: 100%; text-align: left;}
.contact-wrapper > .wrapper2 > .cont-wrap > * { margin-bottom: 1em;}
.contact-wrapper > .wrapper2 > .cont-wrap > .title {font-size: 3em;}
.contact-wrapper > .wrapper2 > .cont-wrap > p:nth-child(2) {letter-spacing: .5px; line-height: 1;}
.contact-wrapper > .wrapper2 > .cont-wrap > address{letter-spacing: .5px; font-weight: bold; font-size: 1.125em; color: #607d8b;}
.contact-wrapper > .wrapper2 > .cont-wrap > p:nth-child(4) {letter-spacing: .5px;}

.contact-wrapper > .wrapper2 > form {width: 100%;}
.contact-wrapper > .wrapper2 > form > input {width: 100%; margin: 1em 0; border-bottom: 1px solid #444;}
.contact-wrapper > .wrapper2 > form > button {background-color: #eee; padding: .725em 1em;}


/********************* footer ***********************/
.footer-wrap {width: 100%; background-color: #eee; padding: 3em;}
.footer-wrap > .copyright {width: 100%; letter-spacing: -1px; text-align: center;}
.footer-wrap > .copyright a:hover {text-decoration: underline;}


/********************* response ***********************/
@media (max-width: 992px){

}

@media (max-width: 768px){
    .header-wrapper > .header-wrap > .navi-wrap {display: none;}

    .about-wrapper > .wrapper > .img-wrap {display: none;}
    .about-wrapper > .wrapper > .cont-wrap {width: 100%;}

    .menu-wrapper > .wrapper > .menu-wrap {width: 100%;}
    .menu-wrapper > .wrapper > .img-wrap {width: 100%;}
}

@media (max-width: 574px){
}